@function vw-to-rem($value) {
  @return ($value / 54px) * 1rem;
}

body {
    background-color: $beaverLightOrange !important;
    // width: 1400px;
    margin: 0 auto !important;
    overflow-x: hidden;
    color: $beaverBlue;
    font-family: Satoshi-Bold, sans-serif;
    font-weight: 700;
    font-size: rem-calc(20px);
    line-height: 100%;
    max-width: 1920px;

    img {
        max-width: 100vw !important;
    }
    
    i.bi-bold{
        -webkit-text-stroke: 3px $beaverBlue;
    }

    .d-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card{
        border: none;
    }

    .wrapper{
        width: 100%;
    }

    button:hover,
    .button:hover,
    a:hover{
        opacity: 0.8;
    }
    
    a.text-link, a.nav-link, a.utility-nav, a, label, select, text{
        font-family: Satoshi-Bold, sans-serif;
        font-weight: 700;
    }
        
    h1,h2,h3,h4{
        font-family: Satoshi-Black, sans-serif;
        font-weight: 900;
    }
        
    p.XXL,p.L,p.M,p.S,p.XS{
        font-family: Satoshi-Medium, sans-serif;
        font-weight: 500;
    }
        
    p.XL{
        font-family: PilcrowRounded-Medium, sans-serif;
        font-weight: 500;
    }
        
    p.eyebrow{
        font-family: PilcrowRounded-Semibold, sans-serif;
        font-weight: 600;
    }
    
    h2.alt,h3.alt,h5, p.call-out{
        font-family: Tanker-Regular, sans-serif;
        font-weight: 400;
    }
        
    footer label{
        font-family: GeneralSans-Medium, sans-serif;
        font-weight: 500;
    }
    
    h1{
        font-size: calc(100vw / 1400px * 54px);
        line-height: calc(100vw / 1400px * 60px);
    }        
    h2{
        font-size: calc(100vw / 1400px * 46px);
        line-height: calc(100vw / 1400px * 48px);
    }  
    h2.alt{
        font-size: calc(100vw / 1400px * 46px);
        line-height: calc(100vw / 1400px * 50px);
    }    
    h3{
        font-size: calc(100vw / 1400px * 30px);
        line-height: calc(100vw / 1400px * 32px);
    }  
    h3.alt{
        font-size: calc(100vw / 1400px * 35px);
        line-height: calc(100vw / 1400px * 35px);
    }
    h4{
        font-size: calc(100vw / 1400px * 23px);
        line-height: calc(100vw / 1400px * 24px);
    }    
    h5{
        font-size: calc(100vw / 1400px * 19px);
        line-height: calc(100vw / 1400px * 21px);
    }
    a.nav-link{
        font-size: calc(100vw / 1400px * 20px);
        line-height: calc(100vw / 1400px * 25px);
        text-decoration: none;
    }
    a.utility-nav{
        font-size: calc(100vw / 1400px * 15px);
        line-height: 100%;
        text-decoration: underline;
    }
    p.eyebrow{
        font-size: calc(100vw / 1400px * 22px);
        line-height: calc(100vw / 1400px * 22px);
    }
    button,
    .button{
        font-family: Satoshi-Black, sans-serif;
        font-weight: 900;
        font-size: calc(100vw / 1400px * 20px);
        line-height: 100%;
        margin: 0;
    }
    p.XXL{
        font-size: calc(100vw / 1400px * 50px);
        line-height: calc(100vw / 1400px * 65px);
    }
    p.XL {
        font-size: calc(100vw / 1400px * 26px);
        line-height: calc(100vw / 1400px * 32px);
    }
    p.L{
        font-size: calc(100vw / 1400px * 24px);
        line-height: calc(100vw / 1400px * 35px);
    }
    p.M,
    a {
        font-size: calc(100vw / 1400px * 20px);
        line-height: calc(100vw / 1400px * 27px);
    }
    p.S{
        font-size: calc(100vw / 1400px * 18px);
        line-height: calc(100vw / 1400px * 27px);
    }
    p.XS{
        font-size: calc(100vw / 1400px * 16px);
        line-height: calc(100vw / 1400px * 19px);
    }
    p.call-out{
        font-size: calc(100vw / 1400px * 39px);
        line-height: calc(100vw / 1400px * 39px);
    }
    a.text-link{
        font-size: calc(100vw / 1400px * 20px);
        line-height: calc(100vw / 1400px * 27px);
        text-decoration: underline;
    }
    select,
    label,
    input{
        font-size: calc(100vw / 1400px * 20px);
        line-height: 100%;
    }
    
    .highlight{
        display: flex;
        flex-direction: column;
    }

    .announcement-bar {
        height: rem-calc(60px);
        padding: 13.5px 80px 0 80px;
        background-color: $beaverBlue;
        color: $beaverWhite;
        a {
            color: $beaverWhite;
            text-decoration: underline;
        }
    }
    .utility-menu {
        padding: 21px 80px 0 80px;
        display: flex;
        flex-direction: row-reverse;
        a {
            color: $beaverWhite;
            padding-left: 30px;
        }
    }
    .nav-tool-bar{
        i.bi-bold{
            -webkit-text-stroke: 2px #071c2c;
            font-size: rem-calc(18px);
        }
        padding: 0 80px;
        .nav-bar{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            height: rem-calc(73px);
            background-color: $beaverWhite;
        }
        .menu-bar{
            display: flex;
            align-items: center;
        }
        .nav-home{
            display: flex;
            margin:0;
            padding: 0;
            background-color: $beaverWhite;
    
            .toggle,
            [id^=drop] {
                display: none;
            }
    
            #logo {
                display: block;
                padding: 0 24px 0 34px;
                float: left;
            }
    
            :after {
                content:"";
                display:table;
                clear:both;
            }
    
            .menu {
                float: left;
                padding:0;
                margin: 0;
                ul{
                    list-style: none;
                }
                position: relative;
                li {
                    margin: 0px;
                    display:inline-block;
                    background-color: $beaverWhite;
                }
                li ul li:hover {
                    background: $beaverBlue;
                }
                ul {
                    display: none;
                    position: absolute; 
                    top: 55px; 
                }
                li:hover > ul,
                li:focus-within > ul {
                    display:inherit;
                    list-style-type: none;
                    margin: 0;
                    border-bottom: 3px solid $beaverBlue;
                }
                ul li {
                    float:none;
                    display:list-item;
                    position: relative;
                    a{
                        font-size: calc(100vw / 1400px * 17px);
                        line-height: calc(100vw / 1400px * 25px);
                    }
                }
    
                .mobile-search{
                    margin: 10px 0 20px 0;
                    display: none;
                    width: 100%;
                    input{
                        width: 100%;
                        height: 50px;
                        padding-left: 16px;
                        border: none;
                    }
                    button {
                        height: 50px;
                        width: 50px;
                        background-color: $beaverBlue;
                        position: absolute;
                        right: 0;
                        padding: 0;
                        i {font-size: rem-calc(22px);}
    
                    }
                    border-bottom: 3px solid $beaverBlue;
                }
            }
            a {
                display: block;
                padding: 10px 20px;  
                color: $beaverBlue;
                text-decoration:none;
            }
            a:hover { 
                background-color: $beaverBlue; 
                color: $beaverWhite
            }
        }
    
        .search-bar{
            .search-icon{
                width: rem-calc(73px);
                height: rem-calc(73px);
                background-color: $beaverBlue;
                font-size: rem-calc(30px);
                color: $beaverWhite;
            }
            .search-icon:hover {
                cursor: pointer;
            }
        }
    
        .search-input{
            margin-top: 20px;
            display: none;
            input{
                height: 50px;
                padding-left: 16px;
            }
            button {
                height: 50px;
                width: 70px;
                background-color: $beaverBlue;
            }
        }
        .search-line{
            position: absolute;
            right: 80px;
        }
        #chk-search{ display: none;}
        #chk-search:checked + div {
            display: flex;
        }
    }
    

    .top-page {
        padding: 20px 80px 30px 80px;
        
        
        .background{
            position: absolute;
            top: rem-calc(60px);
            z-index: -1;
            img {
                width: 100vw;
            }
            margin-left: -80px;
        }
    
        
    }
        
    .medium-page{
        .text-content{
            margin-top: calc(100vw / 1400px * 580px - 280px);
            padding: rem-calc(50px);
            background-color: $beaverWhite;
            color: $beaverBlue;
            p {
                margin: rem-calc(20px) 0;
            }
            .grade-choose {
                margin: 0;
                width: 50%;
                display: flex;
                height: 50px;
                select{
                    height: 50px;
                    min-width: 200px;
                    background-color: $beaverLightOrange;
                    border-bottom: 3px solid $beaverBlue;
                }
                button{
                    background-color: $beaverBlue;
                    color: $beaverWhite;
                    padding: 0;
                    margin: 0;
                    height: rem-calc(50px);
                    width: rem-calc(70px);
                }
            }
        }
    
        .photo-slider{
            margin-top: 30px;
        }
    }
    .about-overview{
        margin-bottom: 100px;
        .panel{
            margin-top: 50px
        }
        .left-pic{
            left: 0;
            margin-top: rem-calc(150px);
            z-index: -1;
            img{
                width: 20vw;
            }
        }
        .right-pic{
            display: flex;
            flex-direction: row-reverse;
            height: 107%;
            align-items: flex-end;
            img{
                width: 20vw;
                height: 24vw;
            }
        }

        .under{
            z-index: -1;
        }
        
        .overview-panel{
            padding: 50px 75px;
            background-color: $beaverWhite;
            color: $beaverBlue;
            p{
                margin: 26px 0;
            }
            .link-btn {
                a {
                    margin-right: 20px;
                    color: $beaverBlue;
                    text-decoration: underline;
                }
                button {
                    margin: 0 20px;
                    background-color: $beaverOrange;
                    color: $beaverBlue;
                }
            }
        }

        .reg-info-panel{
            padding: 50px;
            background-color: $beaverBlue;
            color: $beaverWhite;
            h3{
                margin-bottom: 15px;
            }
            p{
                margin: 0;
            }
        }
    } 
        
    .camp-program-blocks{
        .general-camp{
            margin-top: 40px;
            .panel-body{
                padding-bottom: 130px;
            }
        }
        .special-camp{
            margin-top: 40px;
            .panel-body{
                padding-bottom: 50px;
            }
        }
        .describe{
            padding: 55px 300px;
            background-color: $beaverWhite;
            color: $beaverBlue;
            p{
                margin: 20px 0 0 0;
            }
            button{
                margin: 20px 0 0 0;
                background-color: $beaverYellow;
                color: $beaverBlue;
                padding: 20px;
            }
        }
        .panel-body{
            background-color: $beaverBlue;
            padding-top: 55px;
            padding-left: 200px;
            padding-right: 200px;
            .card {
                background-color: $beaverWhite;
                p,h1{
                    margin: 0;
                }
                .card-body{
                    height: 10vw;
                }
            }
            p.call-out {
                margin: 40px;
                color:$beaverYellow;
            }
        }
    }
        
    .camp-stories-quote-block{
        margin-top: 35px;
        .panel {
            margin-top: 30px;
            .camp-title{
                display: flex;
                flex-direction: column-reverse;
                padding: 0 calc(52px * (100vw / 1400px));
                background-color: $beaverBlue;
            }
            .pic-panel{
                padding: 5px;
                background-color: $beaverBlue;
                img {
                    border: 5px solid $beaverBlue;
                    width: 100%;
                }
            }
            .describe{
                background-color: $beaverWhite;
                padding: 0 70px;
            }
        }
        .left{
            .camp-title{
                text-align: right;
            }
        }

        .right{
            flex-direction: row-reverse;
            .camp-title{
                text-align: left;
            }
        }
        
        .orange{
            .camp-title{
                color: $beaverOrange;
            }
        }
        .yellow{
            .camp-title{
                color: $beaverYellow;
            }
        }
        .white{
            .camp-title{
                color: $beaverWhite;
            }
        }

        
    }
    
    .storytelling-blocks{
        margin: 70px 0;
        background-color: $beaverYellow;
        padding: 55px 100px;
        p{
            margin: 35px 0;
        }
        .splide__arrows {
            margin-top: 35px;
            position: relative;
            display: flex;
            .splide__arrow{
                width: 70px;
                height: 100%;
                position: relative;
                background: transparent;
                i {
                    font-size: rem-calc(53px) !important;
                    margin-right: 20px;
                }
            }
            .splide__arrow--next{
                right: 0;
            }
            .splide__arrow--prev{
                left: 0;
            }
        }
    }
        
    .footer {
        padding: 0 70px 30px 70px;
        background-color: $beaverBlue;
        h4,p,a,label{
            color: $beaverWhite;
        }
        button{
            color: $beaverBlue !important;
        }
        a {
            text-decoration: underline;
        }
        .footer-left {
            padding-right: 50px;
            p {
                margin: 50px 0 80px 0;
            }
            label{
                margin-top: 50px;
            }
        }
    
        .footer-right {
            margin-top: 30px;
            text-align: right;
            .link-btn{
                display: inline;
                a,button{margin: 10px}
                a{
                    font-size: calc(100vw / 1400px * 15px);
                    line-height: 100%;
                }
                .yellow{
                    background-color: $beaverYellow;
                }
                .orange{
                    background-color: $beaverOrange;
                }
            }
            .link-group{
                .link-list {
                    margin-top: 50px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    a{
                        font-size:calc(100vw / 1400px * 17px);
                        margin-top: 10px;
                        text-decoration: none;
                    }
                    img{
                        margin-top: 10px;
                        padding-right: 15px;
                    }
                    img:hover{
                        cursor: pointer;
                    }
                }
            }
            .logo-group{
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-end;
            }
        }
        .footer-bottom{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        label.copyright{
            font-family: GeneralSans-Medium, sans-serif;
            font-weight: 400;
            font-size: calc(100vw / 1400px * 14px);
        }
    }

        
////detail-page    
    .detail-page{
        .top-page{
            .hero{
                .background {
                    top: 0;
                }
                .prev-next-btn {
                    position: absolute;
                    right: 100px;
                    top: calc(100vw / 1400px * 706px - 65px);
                    i{
                        font-size: rem-calc(21px);
                        line-height: rem-calc(21px);
                        -webkit-text-stroke: 1px #071c2c;
                    }
                    span{
                        font-size: rem-calc(16px);
                        line-height: rem-calc(21px);
                    }
                    .prev-btn{
                        i{margin-right:5px}
                    }
                    .next-btn i{margin-left: 5px;}
                    font-family: GeneralSans-Semibold, sans-serif;
                    font-weight: 600;
                    padding: 24px 20px;
                    width: 174px;
                    height: 69px;
                    background-color: $beaverLightOrange;
                    .next-btn{
                        text-align: right;
                    }
                }
            }
        }
    }
    
    .hero-content{
        margin: calc(300px + (100vw - 1400px) * 0.6) 100px 0 100px;
        align-items: flex-end;
        .main-content{
            background-color: $beaverWhite;
            color: $beaverBlue;
            padding: 50px;
            .pretitle{
                display: inline-flex;
            }
            button{
                background-color: $beaverOrange;
                color: $beaverBlue;
            }
        }
        .sub-content{
            background-color: $beaverWhite;
            color: $beaverBlue;
            padding: 40px;
            p{margin:0;}
            .panel{
                margin-top: 25px;
            }
        }
    }
    .jump-to-section{
        margin: 0 100px;
        padding: 40px 50px;
        background-color: $beaverWhite;
        color: $beaverBlue;
        .jump-to{
            display: flex;
            justify-content: space-between;
            list-style: none;
            a{
                color: $beaverBlue;
            }
        }
    }
    .sample-day{
        margin: 66px 100px;
        color : $beaverBlue;
        a {color: $beaverBlue;}
        .header{
            width: 60%;
            margin-bottom: 40px;
        }
        .story-telling-block{
            margin-bottom: 15px;
            background-color: $beaverWhite;
            // color: $beaverBlue;
            .no-pic{
                padding: 40px 0;
            }
            .pic-2 {
                .pic-body{
                    background-color: $beaverBlue;
                    padding: 4px;
                    img {
                        width: calc((100vw - 200px) * 7 / 24 - 12px);
                    }
                }
            }
            .pic-1 {
                .pic-body{
                    background-color: $beaverBlue;
                    padding: 4px;
                    img {
                        width: calc((100vw - 200px) * 7 / 12 - 18px);
                    }
                }
            }
            .description{
                padding: 30px;
            }
            .right{
                flex-direction: row-reverse;
            }
        }
    }
    .activities{
        color: $beaverBlue;
        .header{
            padding-left: 100px;
        }
        .activities-panel{
            .header{
                padding: 50px 100px;
                background-color: $beaverWhite;
            }
            .content{
                padding: 55px 100px;
                background-color: $beaverBlue;
                .card {
                    background-color: $beaverWhite;
                    h3{margin:0}
                    p{
                        margin: 10px 0 0 0;
                    }
                    .card-body{
                        padding: 20px;
                        height: 10vw;
                        min-height: 140px;
                    }
                }
    
            }
            
        }
    }
    .learn-more-info{
        padding: 0 100px;
        .left-panel{padding-right: 40px;}
        .panel{
            padding: 50px;
            background-color: $beaverWhite;
            height: 100%;
            color: $beaverBlue;
            button{
                background-color: $beaverBlue;
                color: $beaverWhite;
            }
        }
    }
    .electives-directors{
        margin: 66px 100px;
        color: $beaverBlue;
        a{color: $beaverBlue;}
        .panel{
            margin-top: 20px;
            padding: 50px;
            background-color: $beaverWhite;
        }
        .director-panel{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            align-items: center;
            .pic img{
                max-width: 100%;
                width: calc((100vw / 1400px) * 180px);
                
            }
            .detail{
                margin-left: 20px;
            }
            @include breakpoint(small down){
                display: flex;
                flex-direction: column;
                .pic img{width: 40%;}
                .detail{margin-left: 0;}
            }
        }
    }
    .related-programs{
        color: $beaverBlue;
        margin-bottom: 66px;
        .header{
            padding: 55px 100px;
            background-color: $beaverWhite;
        }
        .content{
            padding: 55px 100px;
            background-color: $beaverYellow;
            .card{
                .card-body{
                    height: 10vw;
                    min-height: 140px;
                }
            }
        }
    }

    /////landing-page
    .landing-page{
        .background {
            position: absolute;
            top: 0;
            right:0;
            img{
                height: 47vw;
                width: 100%;
                min-height: 640px;
            }
            z-index: -1;
        }
        .top-page{
            .hero{
                .main-content{
                    color: $beaverBlue;
                    a{
                        color: $beaverBlue;
                    }
                    margin-top: 50px;
                    background-color: $beaverWhite;
                    padding: 40px 50px;
                    width: calc(665px * (100vw / 1400px));
                    min-width: 665px;
                    h1, p.S{
                        margin: 15px 0;
                    }
                    button, .button{
                        background-color: $beaverOrange;
                        color: $beaverBlue;
                        margin: 0;
                    }
                }
            }
        }
    }
    
    .image-content-group{
        background-color: $beaverBlue;
        padding: 65px 100px;
    }
    
    .image-content{
        .header{
            color: $beaverYellow;
            margin-bottom: 20px;
        }
        .card .card-body{
            height: 10vw;
            min-height: 140px;
            p{margin: 0;}
        }
    }
    
    #gallery-slider{
        padding: 60px 100px;
        background-color: $beaverWhite;
        color: $beaverBlue;
        .content{
            img{
                width: calc(100vw - 200px);
            }
        }
        .header{
            display: flex;
            justify-content: space-between;
        }
        .splide__arrows {
            position: relative;
            display: flex;
            .splide__arrow{
                width: 60px;
                height: 100%;
                position: relative;
                background: transparent;
                opacity: 1;
                i {
                    font-size: rem-calc(40px);
                    margin-right: 14px;
                }
            }
            .splide__arrow--next{
                right: 0;
            }
            .splide__arrow--prev{
                left: 0;
            }
        }
    }
    

    
    .landing-page .learn-more-info{
        .panel-body{
            display: flex;
            justify-content: space-between;
            height: calc(100vw * 500px / 1400px);
            img{height: 100%;}
            background-color: $beaverWhite;
        }
    }

    ////indexing-page
    
    .indexing-page .main-content{
        margin-top: 90px;
        padding: 40px 50px;
        width: calc(100vw / 1400px * 917px);
        background-color: $beaverWhite;
        color: $beaverBlue;
        button,
        .button{
            background-color: $beaverOrange;
            color: $beaverBlue;
        }
        position: relative;
        z-index: 1;
    }
    
    .indexing-page .image-content-group{
        margin: -77.5px 0 60px 0;
        padding: 95px 100px 65px 100px;
        .row-card .card-body{
            padding: 30px;
        }
        @include breakpoint(medium down){
            .row-card{
                flex-direction: column-reverse;
                img{width: 100%;}
                .card-body{
                    height: 140px;
                }
            }
        }
    }

    /////basic-page
    .basic-page{
        .background {
            position: absolute;
            top: 0;
            right: 0;
            img{
                width: 50vw;
                min-height: 640px;
            }
            z-index: -1;
        }
        .top-page{
            .hero{
                .main-content{
                    color: $beaverBlue;
                    margin-top: 130px;
                    background-color: $beaverWhite;
                    padding: 40px 50px;
                    width: calc(665px * (100vw / 1400px));
                    min-width: 665px;
                    
                    p.M{
                        margin: 15px 0;
                    }
                    
                }
            }
        }
    }
    .basic-page{
        .basic-body{
            margin: 100px 100px 70px 100px;
            padding: 100px 100px;
            .content{
                width: rem-calc(822px);
                max-width: 60vw;
            }
            p{margin: 0}
            background: $beaverWhite;
            color: $beaverBlue;
            a{color: $beaverBlue;}
            .text-content button,
            .text-content .button{
                background-color: $beaverBlue;
                color: $beaverWhite;
            }
            img{
                width: 100%;
            }
        }
    }
    .summer_leadership{
        padding: 0 100px;
        .card{
            height: 100%;
            img{
                width: 100%;
            }
            p{margin-bottom: 10px}
            .card-body{
                padding: 20px;
                background-color: $beaverWhite;
                color: $beaverBlue;
            }
        }
    }
    .user-table{
        thead{
            background-color: $beaverBlue;
            color: $beaverWhite;
        }
        th{
            font-size: calc(100vw / 1400px * 18px);
        }
        td,th{
            padding: 10px 15px;
        }
        tbody tr:nth-child(even){
            background-color: $beaverLightOrange;
        }
        p{margin: 0}
    }
    .contact_us{
        padding-left: 100px;
        .contact_us-form{
            padding: 50px;
            width: 800px;
            background-color: $beaverWhite;
            color: $beaverBlue;
            .form-group{
                width: 560px;
                input,
                textarea{
                    background-color: $beaverLightOrange;
                    color: $beaverBlue;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 3px solid $beaverBlue;
                }
                button, .button{
                    background-color: $beaverBlue;
                    color: $beaverWhite;
                }
            }
        }
    }
    // Mobile scss 
    .filter_programs{
        h3{color: $beaverWhite}
        select{
            width: 300px;
            height: 55px;
            color: $beaverBlue;
            background-color: $beaverWhite;
        }
        @include breakpoint(small down){
            select{
                width: 100%;
            }
        }
    }
    
    .image-content .row-card{
        background-color: $beaverWhite;
        color: $beaverBlue;
        img{width: calc((100vw - 200px) * 0.75);}
    }

    @include breakpoint(large down){
        .landing-page .learn-more-info{
            .panel{
                margin-top: 0;
            }
            .panel-body{
                flex-direction: column-reverse;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 500px !important;
                    max-height: 500px;
                }
            }
        }
    }

    
    @include breakpoint(medium down){
        width: 100%;
        
        a.nav-link, a.text-link, a, label, text{
            font-family: Satoshi-Bold, sans-serif;
            font-weight: 700;
        }
        
        h1,h2,h3,h4,button,.button{
            font-family: Satoshi-Black, sans-serif;
            font-weight: 900;
        }
        
        p.M,
        p.L{
            font-family: Satoshi-Medium, sans-serif;
            font-weight: 500;
        }
        
        p.XL{
            font-family: PilcrowRounded-Medium, sans-serif;
            font-weight: 500;
        }
        
        p.eyebrow{
            font-family: PilcrowRounded-Semibold, sans-serif;
            font-weight: 600;
        }
        
        h2.alt, p.call-out{
            font-family: Tanker-Regular, sans-serif;
            font-weight: 400;
        }
        footer label{
            font-family: GeneralSans-Medium, sans-serif;
            font-weight: 500;
        }
        
        h1 {
            font-size: rem-calc(34px);
            line-height: rem-calc(34px);
        }
        
        h2 {
            font-size: rem-calc(30px);
            line-height: rem-calc(33px);
        }
        h2.alt{
            font-size: rem-calc(31px);
            line-height: rem-calc(36px);
        }
        
        h3{
            font-size: rem-calc(24x);
            line-height: rem-calc(25px);
        }
        h4{
            font-size: rem-calc(21px);
            line-height: rem-calc(32px);
        }
            
        p.XL {
            font-size: rem-calc(23px);
            line-height: rem-calc(29px);
        }
        p.M,
        p.L{
            font-size: rem-calc(18px);
            line-height: rem-calc(24px);
        }

        p.S{
            font-size: rem-calc(18px);
            line-height: rem-calc(27px);
        }
        
        button, .button{
            font-size: rem-calc(18px);
            line-height: rem-calc(22px);
        }
        
        p.eyebrow{
            font-size: rem-calc(20px);
            line-height: rem-calc(20px);
        }
            
        a.text-link{
            font-size: rem-calc(18px);
            line-height: rem-calc(18px);
        }
        a.nav-link{
            font-size: rem-calc(16px);
            line-height: rem-calc(25px);
        }
            
        
        a {
            font-size: rem-calc(16px);
            line-height: rem-calc(25px);
        }
        
        p.call-out{
            font-size: rem-calc(31px);
            line-height: rem-calc(39px);
        }
        
        .highlight{
            display: inline;
        }
        input{
            font-size: rem-calc(16px);
        }

        
        .announcement-bar{ display: none !important;}
        .utility-menu,
        .nav-bar .search-bar{
            display:none !important;
        }
        .search-line{display: none;}
        .nav-tool-bar{
            padding: 0;
            .nav-bar{
                margin: 0;
                display: block;
                height: rem-calc(56px);
            }
            .menu-bar{
                display: block;
            }
            .nav-home{
                #logo {
                    padding: 0 25px;
                    img{
                        width: rem-calc(93px);
                    }
                }
                #show-list,
                #hide-list{
                    -webkit-text-stroke: 1px #071c2c;
                }
                height: rem-calc(56px);
                .mobile-header{
                    label{
                        font-size: rem-calc(24px);
                        position: absolute;
                        right: rem-calc(20px);
                        top: rem-calc(17px);
                    }
                    #hide-list{
                        display: none;
                    }
                }
                display: block;
        
                label {
                    i.pull-right{
                        position : absolute;
                        right: 10px;
                    }
                }
        
                .mobile-header{
                    display: flex;    
                }
                .toggle + a {
                    display: none;
                }
                .toggle {
                    display: block;
                }
                .menu{
                    display: none;
                    margin: 0 25px;
                    width: calc(100% - 50px);
                    li > label{
                        margin-top: 10px;
                        padding : 10px;
                        font-size: rem-calc(16px);
                        line-height: rem-calc(25px);
                    }
                    li:hover > ul{
                        border-bottom: none;
                    }
                    > li{
                        display: block;
                        list-style-type: none;
                        border-bottom: 3px solid $beaverBlue;
                    }
                    ul {
                        position:static;
                        top: -5px;
                        margin-left: 0;
                    }
                    li:hover > ul{
                        display: none;
                    }
                    .mobile-search{
                        display: flex;
                    }
                }
                #drop:checked ~ #show-list {
                    display: block;
                }
                [id^=drop]:checked + ul {
                    display: block !important;
                    li a{
                        font-size: rem-calc(15px);
                        line-height: rem-calc(25px);
                    }
                }
                
            }
        }
        
        
        
        .top-page{
            padding: 0;
            .hero{
                
                .background{
                    position: relative;
                    top: 0;
                    margin: 0;
                    z-index: -1;
                }
            }
        }
        
        .medium-page{
            p{margin:0;}
            .text-content{
                margin: 0;
                padding: 20px;
                .grade-choose{
                    width: 100%;
                    height: 53px;
                    select{
                        font-size: rem-calc(18px);
                        line-height: rem-calc(22px);
                        color: $beaverBlue;
                    }
                }
            }
        }
    
        .medium-page{
            .photo-slider{
                margin: 20px 0;
            }
        }
        .about-overview{
            display: flex;
            .left-pic,
            .right-pic{
                display:none;
            }
            .overview-panel{
                padding: 20px;
                .link-btn{
                    display: flex;
                    flex-direction: column-reverse;
                    > a{
                        margin:10px 0;
                    }
                    >button{
                        margin:0;
                        color: $beaverWhite;
                    }
                }
            }
            .reg-info-panel{
                padding: 25px;
            }
        }
        .camp-program-blocks {
            .panel-body{
                padding: 30px 25px;
                p.call-out{
                    margin:20px 0 0 0;
                }
                .card .card-body{
                    height: rem-calc(98px);
                }
            }
            .describe{
                padding: 40px 25px;
                button{
                    color: $beaverWhite;
                }
            }
            .general-camp .panel-body{
                padding-bottom: 30px;
            }

        }

        .camp-stories-quote-block{
            .left .camp-title,
            .right .camp-title{
                text-align: center;
            }
            
            .panel{
                flex-direction: column-reverse;
                .camp-title{
                    display: block;
                    padding-top: 2vw;
                    width: 100%;
                }
                .describe{
                    padding: 40px 25px;
                }
                .pic-panel{
                    padding: 5px;
                }
            }
        }
        .storytelling-blocks{
            padding: 50px 25px;
            p.XXL{
                font-size: rem-calc(25px) !important;
                line-height: 34px !important;
            }
            .splide__arrows {
                margin-top: 35px;
                position: relative;
                display: flex;
                .splide__arrow{
                    width: 70px;
                    height: 100%;
                    position: relative;
                    background: transparent;
                    i {
                        font-size: rem-calc(40px) !important;
                        margin-right: 20px;
                    }
                }
            }
        }

        .footer{
            padding: 0 20px 30px 20px;
            .footer-left p{
                margin: 40px 0 20px 0;
            }
            .footer-right {
                .order-1{ order: 1;}
                .order-2{ order: 2;}
                .order-3{ order: 3;}
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .link-group{
                    flex-direction: column;
                    .link-list a {
                        font-size: rem-calc(17px);
                        line-height: rem-calc(20px);
                    }
                }
                
                .link-btn{
                    display: flex !important;
                    flex-direction: column;
                    align-items: flex-start;
                    button{margin: 10px 0; }
                    a{
                        margin: 20px 0 5px 0;
                        font-size: rem-calc(15px);
                        line-height: 100%;
                    }
                }
    
            }
            .footer-bottom{
                flex-direction: column-reverse !important;
                align-items: flex-start !important;
                .logo-group{
                    display: flex;
                    flex-direction: column;
                    img{
                        margin: 10px 0;
                    }
                }
                .reserved{
                    margin-top: 20px;
                }
            }
            label.copyright{
                font-size: rem-calc(14px);
            }
        }
        ////detail-page
        .detail-page{
            .top-page .hero .prev-next-btn{
                position: static;
                padding: 10px;
                height: 46px;
                width: 160px;
                margin: -46px auto 0 auto;
            }
        }
        .hero-content{
            margin: 0;
            .main-content{
                margin-right: 0 !important;
                padding: 30px 25px;
                text-align: center;
                .detail-button{
                    button, .button{color: $beaverWhite;}
                }
            }
            .sub-content{
                margin-top: 20px;
                padding: 30px 25px;
                margin-left: 0 !important;
            }
        }
        .jump-to-section{
            margin: 0;
            padding: 30px 25px;
            .jump-to{
                flex-direction: column;
                a{margin-top: 10px}
            }
            div{text-align: center;}
        }
        .sample-day{
            margin: 50px 0;
            .header{
                width: 100%;
                padding: 30px 25px;
                text-align: center;
                margin-bottom: 0;
            }
            .story-telling-block{
                >div {text-align: center;}
                .pic-2 .pic-body img{width: 49%;}
                .pic-1 .pic-body img{width: 99%;}
                .left{
                    flex-direction: column-reverse;
                }
                .right{
                    flex-direction: column-reverse;
                }
            }
        }
        .activities{
            .header{
                padding: 30px 25px;
                text-align: center;
            }
            .activities-panel{
                .header{
                    padding: 30px 25px;
                    text-align: center;
                }
                .content{
                    padding: 30px 25px;
                }
            }
        }
        .learn-more-info{
            padding: 0;
            .left-panel{padding: 0}
            .right-panel{margin-top: 20px;}
            .panel{
                padding: 30px 25px;
            }
        }
        .electives-directors{
            margin: 40px 0;
            .panel{
                padding: 30px 25px;
            }
        }
        .related-programs{
            .header{
                padding: 30px 25px;
                text-align: center;
            }
            .content{
                padding: 30px 25px;
            }
        }

        //// landing-page
        .landing-page .background{
            position: relative;
            img{
                min-height: 100%;
                height: 100%;
                width: 100%;
            }
        }
        .landing-page{
            .top-page .hero .main-content{
                margin-top: 0;
                padding: 30px 25px;
                width: 100%;
                min-width: 0;
                .detail-button .button{
                    color: $beaverWhite;
                }
            }
        }
        .image-content-group{
            margin-top: 60px;
            padding: 30px 25px;
        }
        #gallery-slider{
            padding: 30px 25px;
            .content img{width: 100%;}
            .header{
                .splide__arrows{
                    i{font-size: rem-calc(40px);}
                }
            }
        }
        
        //// indexing-page
        .indexing-page{
            .main-content{
                margin-top: 40px;
                width: 100%;
                padding: 30px 25px;
                display: flex;
                text-align: center;
                justify-content: center;
                .button{
                    color: $beaverWhite;
                }
            }
            .image-content-group{
                margin: 50px 0;
                padding: 30px 25px;
            }
        }

        //// basic-page
        .basic-page {
            .background{position: relative;}
            .background img{
                width: 100vw;
                min-height: 0;
            }
            .top-page .hero .main-content{
                margin-top: 0;
                width: 100%;
                min-width: 0;
                padding: 30px 25px;
            }
            .basic-body{
                margin: 60px 0;
                padding: 30px 25px;
                .content{
                    width: 100%;
                    max-width: none;
                    img{width: 100%;}
                }
            }
        }
        .summer_leadership{
            padding: 0 25px;
        }
        .contact_us{
            margin: 60px 25px;
            padding-left: 0;
            .contact_us-form{
                padding: 30px 25px;
                width: 100%;
                .form-group{
                    width: 100%;
                }
            }
        }
    }

    @media screen and (min-width: 1920px) {
        width: 1920px;
        margin: 0 auto;
        h1{
            font-size: calc(1920px / 1400px * 54px);
            line-height: calc(1920px / 1400px * 60px);
        }        
        h2{
            font-size: calc(1920px / 1400px * 46px);
            line-height: calc(1920px / 1400px * 48px);
        }  
        h2.alt{
            font-size: calc(1920px / 1400px * 46px);
            line-height: calc(1920px / 1400px * 50px);
        }    
        h3{
            font-size: calc(1920px / 1400px * 30px);
            line-height: calc(1920px / 1400px * 32px);
        }  
        h3.alt{
            font-size: calc(1920px / 1400px * 35px);
            line-height: calc(1920px / 1400px * 35px);
        }
        h4{
            font-size: calc(1920px / 1400px * 23px);
            line-height: calc(1920px / 1400px * 24px);
        }    
        h5{
            font-size: calc(1920px / 1400px * 19px);
            line-height: calc(1920px / 1400px * 21px);
        }
        a.nav-link{
            font-size: calc(1920px / 1400px * 20px);
            line-height: calc(1920px / 1400px * 25px);
            text-decoration: none;
        }
        a.utility-nav{
            font-size: calc(1920px / 1400px * 15px);
            line-height: 100%;
            text-decoration: underline;
        }
        p.eyebrow{
            font-size: calc(1920px / 1400px * 22px);
            line-height: calc(1920px / 1400px * 22px);
        }
        button,
        .button{
            font-family: Satoshi-Black, sans-serif;
            font-weight: 900;
            font-size: calc(1920px / 1400px * 20px);
            line-height: 100%;
            margin: 0;
        }
        p.XXL{
            font-size: calc(1920px / 1400px * 50px);
            line-height: calc(1920px / 1400px * 65px);
        }
        p.XL {
            font-size: calc(1920px / 1400px * 26px);
            line-height: calc(1920px / 1400px * 32px);
        }
        p.L{
            font-size: calc(1920px / 1400px * 24px);
            line-height: calc(1920px / 1400px * 35px);
        }
        p.M,
        a {
            font-size: calc(1920px / 1400px * 20px);
            line-height: calc(1920px / 1400px * 27px);
        }
        p.S{
            font-size: calc(1920px / 1400px * 18px);
            line-height: calc(1920px / 1400px * 27px);
        }
        p.XS{
            font-size: calc(1920px / 1400px * 16px);
            line-height: calc(1920px / 1400px * 19px);
        }
        p.call-out{
            font-size: calc(1920px / 1400px * 39px);
            line-height: calc(1920px / 1400px * 39px);
        }
        a.text-link{
            font-size: calc(1920px / 1400px * 20px);
            line-height: calc(1920px / 1400px * 27px);
            text-decoration: underline;
        }
        select,
        label,
        input{
            font-size: calc(1920px / 1400px * 20px);
            line-height: 100%;
        }
        .nav-tool-bar .nav-home .menu ul li a{
            font-size: calc(1920px / 1400px * 17px);
            line-height: calc(1920px / 1400px * 25px);
        }
        .footer .footer-right .link-group .link-list a{
            font-size: calc(1920px / 1400px * 17px);
        }
        .footer .footer-right .link-btn a {
            font-size: calc(1920px / 1400px * 15px);
        }
        .footer label.copyright{
            font-size: calc(1920px / 1400px * 14px);
        }
        .user-table th{
            font-size: calc(1920px / 1400px * 18px);
        }

        .top-page .background img{
            width: 1920px;
        }
        .detail-page .top-page .hero .prev-next-btn{
            position: relative;
            right: 0;
            top: 745px;
            left: 1550px;
        }
        .hero-content{
            margin-top: 612px;
        }
        .landing-page .background{
            right: calc((100vw - 1940px) / 2);
            img{
                width: 900px;
                height: 900px;
            }
            
        }
        .landing-page .learn-more-info .panel-body {
            height: calc(1920px * 500px / 1400px);
        }
        .indexing-page .main-content{
            width: 1250px;
        }
        .basic-page .background{
            right: calc((100vw - 1940px) / 2);
            img{
                width: 960px;
            }
        }
        #gallery-slider .content img {
            width: 1720px;
        }
    }
}


// button {
//     margin: 0 !important;
// }

